<!DOCTYPE html>
<html lang="zh-CN">  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Keep your memories however sad or happy.">
    <meta name="author" content="Icebob">
    <meta name="docsearch:language" content="zh-CN">
    <title>回忆 · 生活</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer class="bd-footer py-5 mt-5 bg-light">
      <div class="container py-5">
        <div class="row">
          <p>欢迎光临！</p>
        </div>
      </div>
    </footer>
  </body>
</html>
